
.container-login{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url('./../assets/images/fondo/fondo-upch.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form-box{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.formulario__login{
    width: 50%;
    padding: 20px 20px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid #46A2FD;
    background-color: #03002B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__login h2 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.formulario__login .Logo-img{
    width: 90%;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 100%;
    max-width: 310px;
    border-bottom: 2px solid #fff;
    border-bottom: 2px solid #d9d9d9;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.inputbox input[type="password"],
.inputbox input[type="text"] {
    padding-right: 30px;
}

.data-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 10px;
    
}
.data-notification h2{
    margin-bottom: 0;
}
.data-notification svg{
    fill: #ffff;
}
.icon-login {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
}

.icon-login:hover {
    color: #ccc;
}

input:focus~label,
input:valid~label {
    top: -10px;
}

.inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.div-spacing {
    width: 100%;
    height: 20px;
}

.forget {
    width: 80%;
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget .label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forget .label .div-chec {
    margin-right: 3px;
    width: 80%;

}

.div-chec {
    display: flex;
    gap: 20px;
}

.forget .label a {
    color: #fff;
    text-decoration: none;
    width: 100%;
}

.forget .label a:hover {
    text-decoration: underline;
}

.button {
    width: 80%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
}

.formulario__login button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgb(199, 199, 199);
}

.img-data-upch{
    width: 50%;
    background: #46A2FD;
}

.img-data-upch img{
    width: 100%;
}
.img-data-upch .text-optional{
    width: 90%;
    display: flex;
    justify-content: center;
}
.img-data-upch span{
    width: 80%;
    height: 100%;
    padding: 10px;
    font-size: .8rem;
    font-family: 'MyFontRancho', cursive;
}

@media screen  and (max-width: 768px){
    .form-box{
        margin-top: 20px;
        flex-direction: column;
    }
    .formulario__login,
    .img-data-upch{
        width: 80%;
    }

}